<% provide(:title, 'About') %>
<div class="center hero-unit">
<h1>Sobre Nosotros </h1>
<p>
Imagina Formación somos el Departamento de Formación de <a href= "http://
www.imaginagroup.com/">Imagina Group</a>. Somos especialistas en desarrollo de
aplicaciones en dispositivos móviles y desarrollo web. Ofrecemos

los mejores cursos de aplicaciones móviles y tecnología web.

¿Quieres aprender a hacer aplicaciones de 10? Fórmate con los mejores.
</p>
</div>
