<% provide(:title, 'Help') %>
<div class="center hero-unit">
<h1>Help</h1>
<h2>
Si necesitas más ayuda o documentación con Ruby puedes visitar su documentación en <a
href="http://ruby-doc.org/">Ruby Doc</a>. Si por el contrario necesitas ayuda con Rails puedes
visitar <a href="http://api.rubyonrails.org/">Rails Doc</a>
</h2>
</div>
