<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1>Bienvenido a Red Social</h1>
<h2>
  Estás en el home de la aplicación creada para el curso Ruby on Rails de
  <a href="http://www.imaginaformacion.com/">Imagina Formación</a>. Esperamos que os
  sirva para aprender.
</h2>
<%= link_to "Regístrate!", signup_path, class: "btn btn-primary btn-large" %>
</div>
