<footer class="footer">
<small>
<a href="hhttp://www.imaginaformacion.com/formacion-online/curso-online-ruby-on-
rails/">Curso Ruby on Rails</a>
por Imagina Formación
</small>
<nav>
<ul>
<li><%= link_to "About", '#' %></li>
<li><%= link_to "Contact", contact_path %></li>
</ul>
</nav>
</footer>
